.preview-image {
  height: 33vh;
  width: 33vw;
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}

.main-image {
  height: 200px;
  width: 200px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}