.preview-image {
  /* height: 33vh; */
  /* width: 33vh; */
  height: 33vh;
  width: 33vw;
  /* min-height: 500px; */
  background-color: rgb(205, 202, 202);
  object-fit: contain;
}


.other-images {
  display: flex;
}

.other-image {
  margin-right: 10px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
}

.main-image {
  height: 200px;
  width: 200px;
}

.image-delete-button {
  text-align: center;
  border: solid 1px;
  cursor: pointer;
  margin-bottom: 5px;
}